:root{
    --color-jiraws-orange:rgb(241, 151, 31);
    --color-jiraws-blue:rgb(26, 107, 192);
    --color-bg: #1e1e1e;
    --color-bg-hover: #2a2a2a;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    width: 200px;
    background-color: var(--color-bg);
    color: white;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.toggle-container:hover {
    background: var(--color-bg-hover);
}

label {
    font-size: .9rem;
    padding: 15px;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:hover {
    border-color: var(--color-jiraws-orange);
}

input[type="checkbox"]:checked {
    background-color: var(--color-jiraws-orange);
    border-color: var(--color-jiraws-orange);
}

input[type="checkbox"]:checked::after {
    content: '\2713';
    position: absolute;
    color: var(--color-jiraws-blue);
    font-size: 16px;
    font-weight: bold;
    left: 2px;
    line-height: 20px;
}

input[type="checkbox"]:focus {
    border-color: var(--color-jiraws-orange);
    box-shadow: 0 0 5px 2px var(--color-jiraws-orange);
}